h2 {
  text-align: center;
}

li.EventCard {
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: center;
}

a.travelEventId {
  text-decoration: none;
  color: black;
}

img.eventCardImg {
  height: auto;
  width: 100%;
}

button.favBtn {
  background-color: pink;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

button.favBtn:hover {
  background-color: plum;
  border: none;
  border-radius: 5px;
}
ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.eventName {
  font-size: 12px;
  font-weight: 700;
}

p.eventInfo {
  font-size: 10px;
  text-align: center;
  margin: 0px 10px 0px 10px;
}
