div.EventList {
  display: flex;
  flex-direction: column;
}

.EventList ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.EventList {
  background: linear-gradient(165deg, #f7fafc, #d6e8db, #e0b336);
}
