.Result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventDetailsImg {
  width: 1000px;
  height: auto;
}

.ticket {
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
}

p.eventDetailsInfo {
  margin: 10px;
}

.EventDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-map {
  width: 99vw;
  height: 500px;
}
