li.EventCard {
  list-style: none;
}

a.travelEventId {
  text-decoration: none;
  color: black;
}

img.eventCardImg {
  height: 200px;
  width: 200px;
}

button.favBtn {
  background-color: pink;
  border: none;
  border-radius: 5px;
}

button.favBtn:hover {
  background-color: plum;
  border: none;
  border-radius: 5px;
}
