div.Favorites {
  display: flex;
  background: linear-gradient(165deg, #f7fafc, #d6e8db, #e0b336);
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Favorites ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
