ul.dropdown {
  list-style: none;
  padding-left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 20px;
  color: #a1d4b7;
}

.signBtn {
  background-color: #fefee3;
  border: 1px solid #2c6e49;
  border-radius: 10px;
  color: #d68c45;
  padding: 12px 25px;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #a1d4b7;
  padding-bottom: 5px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-family: "Yeseva One", serif;
  font-size: 20px;
  position: relative;
  flex-direction: column;
}

.navBox {
  display: flex;
  flex-direction: row-reverse;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 125px;
  height: auto;
  margin-right: 15px;
}

li {
  margin: 0px 2px 0px 2px;
}

.fa-bars {
  text-align: right;
  margin-right: 10px;
  color: #d68c45;
  font-size: 20px;
  position: absolute;
  top: 5%;
  right: 0;
}
.fa-heart {
  color: #d68c45;
}
.fa-calendar {
  color: #d68c45;
}

.fa-house {
  color: #d68c45;
}

.fav-bars:active {
  text-align: right;
  margin-right: 50px;
  padding-right: 50px;
}
.fa-magnifying-glass {
  color: #d68c45;
}

.highlighted {
  color: #d68c45;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}
