.locationForm {
  background: linear-gradient(165deg, #f7fafc, #d6e8db, #e0b336);
  min-height: 100vh;
  padding: 20px;
}

.Form {
  background-color: #fefee3;
  border: 5px solid #d68c45;
  border-radius: 15px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  position: relative;
}

label {
  font-family: "Yeseva One", serif;
  font-size: 18px;
  color: #4c956c;
  margin-bottom: 5px;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 2px solid #2c6e49;
  background-color: #fff;
  font-size: 16px;
  color: #4c956c;
}
.search-btn {
  background-color: #d68c45;
  color: #fefee3;
  border: 2px solid #2c6e49;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
}
.Form {
  text-align: center;
}
